<div id="categories" class="col-xs-3 show-header">
  Categories
  <div class="row">
    <% if @category %>
      <div class="col-xs-12 cat-link-active">
        <%= link_to @category.name, category_path(@category) %>
      </div>
    <% end %>
    <% @categories.each do |cat| %>
      <% if @category == cat %>
      <% else %>
        <div class="col-xs-12 cat-link">
          <%= link_to cat.name, category_path(cat) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
