<nav>
  <div class="container-fluid">
    <div class="logo">
      <%= link_to image_tag("logo.png"), root_path, id:"logo-img" %>
    </div>
    <ul class="main-nav">
      <% if current_user %>
        <li><%= link_to "HOME", user_path(current_user) %></li>
        <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
      <% elsif %>
        <li><%= link_to "LOGIN", login_path %></li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>
