.text-input {
  background-color:rgba(0, 0, 0, 0.25);
  color:white;
  width: 40%;
  font-size: 20px;
  display: inline-block;
  border: none;
  margin-bottom: 15px;
  -webkit-transition:height 1s;
}

.btn-login {
  background-color:rgba(91, 18, 243, 0.25);
  color: rgba(255, 255, 255, 0.75);
}

.btn-signup {
  background-color:rgba(213, 38, 181, 0.25);
  color: rgba(255, 255, 255, 0.75);
  margin-left:15px;
}

.form-div {
  margin-top: 25%;
}

.logo-img-form-page img {
  width:8em;
}

.jifs {
  margin-left: 25px;
}

.flash_notice {
  color: #ff0099;
}

body {
  background:url('stardust.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
