<%= render partial: "shared/nav" %>
<div class="container">
  <div class="row text-center">
    <%= render partial: "shared/categories" %>
    <div id="category" class="col-xs-9">
      <%= @category.name.upcase %>
      <div class="row text-center">
        <% if @category.jifs.empty? %>
          No jifs yet!
        <% else %>
          <% @category.jifs.each do |jif| %>
          <div class="col-xs-6 col-sm-4 col-md-3">

          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
